        <div class="text-center formInput">
          <form action="/" method="post">
            <input name="address" type="text" class="ghost-input" placeholder="Enter address, City or Zip Code" required>
            <input type="submit" class="ghost-button" value="Get Weather">
          </form>         
        </div>
        <div class="errorMessage text-center">
          <p>{{errorMessage}}</p>
        </div>