<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div class="container container-home">
    	<h1 class="text-center">Get Weather <i class="fas fa-bolt"></i></h1>
        {{> searchform}}
        {{> footer}}
    </div> <!-- end container -->
  </body>
</html>